#header.rounded
  %h1
    = @project.name
  %p.description
    = @project.description
%ul
  - @contributors.each do |c|
    %li.rounded
      .avatar
        %img{:src => c.avatar}
      .user-info
        %h1
          = c.name
        %p
          = c.location
        %p
          = "#{c.commits} commits"
        %p &nbsp;
        %p
          %a{:href => c.url, :target => "_blank"}
            = c.url
        %p
          = c.company
      .clear
  - if @contributors.current_page < @contributors.total_pages
    %li.rounded.pagination
      %h2
        %a{:href => @url } more
